.main-content {
    /* margin-top: 75px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content-perfil img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.content-perfil h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20pt;
}

.content-perfil h6 {
    margin-top: 5px;
    opacity: 0.8;
    font-size: 12pt;
    font-weight: 400;
}

.content-perfil h6:nth-child(4) {
    font-size: 12pt;
    justify-content: center;
    align-items: center;
}

.content-perfil #cidade {
    font-size: 12pt;
    justify-content: center;
    align-items: center;
}